<div class="container mt-5">
	<h2>Estadísticas</h2>
	<table class="table table-bordered animated fadeIn">
	  <thead>
	    <tr>
	      <th scope="col">Nombre</th>
	      <th scope="col">Goles</th>
	      <th scope="col">Asistencias</th>
	      <th scope="col">Victorias</th>
	      <th scope="col">Derrotas</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr [ngClass]="{'table-success':gol >= 3}">
	      <th scope="row">Jugador 1</th>
	      <td>{{gol}}</td>
	      <td>--</td>
	      <td>--</td>
	      <td>--</td>
	    </tr>
	    <tr>
	      <th scope="row">Jugador 2</th>
	      <td>{{gol}}</td>
	      <td>--</td>
	      <td>--</td>
	      <td>--</td>
	    </tr>
	    <tr>
	      <th scope="row">Jugador 3</th>
	      <td>{{gol}}</td>
	      <td>--</td>
	      <td>--</td>
	      <td>--</td>
	    </tr>
	  </tbody>
	</table>
</div>